<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contoh Form</title>

	<!-- Bootstrap CSS -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin="anonymous">

	<!-- Custom CSS -->
	<link th:href="@{/css/base-form.css}" rel="stylesheet" />
	<link th:href="@{/css/button.css}" rel="stylesheet" />
	<link th:href="@{/css/datepicker.css}" rel="stylesheet" />
	<link th:href="@{/css/global.css}" rel="stylesheet" />
	<link th:href="@{/css/header.css}" rel="stylesheet" /> 
	<link th:href="@{/css/input.css}" rel="stylesheet" />
	<link th:href="@{/css/notification.css}" rel="stylesheet" />
	<link th:href="@{/css/select.css}" rel="stylesheet" />
	<link th:href="@{/css/sidebar.css}" rel="stylesheet" />
	
</head>

<body>

	<div class="p-5">
	
	<a href="SuperAdmin/Contoh">
		Link Super Admin
	</a>
	
	<br>

	<a href="StateAdmin/Contoh">
		Link State Admin
	</a>

	<br>

	<a href="PPDAdmin/Contoh">
		Link PPD Admin
	</a>

	<br>
	
	<a href="SchoolAdmin/Contoh">
		Link School Admin
	</a>

	</div>
	<div class="date-picker-container">
		<div class="floating-form-group">
			<input class="floating-datepicker" type="text" id="dateInput"
				placeholder="" readonly> <label
				class="floating-datepicker-label">Pilih Tarikh</label>
		</div>
		<div id="datePicker" class="custom-date-picker">
			<div class="date-picker-header">
				<button id="prevMonth">&lt;</button>
				<span id="monthYearDisplay"></span>
				<button id="nextMonth">&gt;</button>
			</div>
			<div id="calendarView">
				<table>
					<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
					</thead>
					<tbody id="datePickerBody"></tbody>
				</table>
			</div>
			<div id="yearView" class="hidden year-picker"></div>
		</div>
	</div>


	<div style="width: 500px;">
		<!-- ni tukar width sini -->
		<div class="floating-form-group">
			<input type="text" class="floating-input" placeholder=" "> <label
				class="floating-input-label">Input Label</label>
		</div>
		<span class="form-helper error">Error</span>
	</div>

	<!-- contoh tukar width -->
	<div style="width: 300px;">
		<div class="floating-form-group">
			<input type="text" class="floating-input" placeholder=" "> <label
				class="floating-input-label">Another Label</label>

		</div>
	</div>


	<!--  select -->
	<div style="width: 500px;">
		<div class="floating-form-group">
			<select class="floating-select" value="">
				<option value="" selected disabled hidden></option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
			</select> <label class="floating-select-label">Select Label</label>
		</div>
	</div>

	<div style="width: 300px;">
		<div class="floating-form-group">
			<select class="floating-select" value="">
				<option value="" selected disabled hidden></option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="2">Option 3</option>
				<option value="2">Option 4</option>
			</select> <label class="floating-select-label">Select Label</label>
		</div>
		<span class="form-helper">Helper text</span>
	</div>

	<!-- bila nak guna select input letak ni  -->
	<script>
        document.querySelectorAll('.floating-select').forEach(select => {
            select.addEventListener('change', function () {
                this.setAttribute('value', this.value);
            });
        });
    </script>


	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<!-- Custom JS -->
	<script th:src="@{/js/datepicker.js}"></script>

	<script>
	    const datePicker = new DatePicker(
	    	    'dateInput',
	    	    'datePicker',
	    	    'monthYearDisplay',
	    	    'datePickerBody',
	    	    'prevMonth',
	    	    'nextMonth',
	    	    'calendarView',
	    	    'yearView'
	    	);
    </script>
</body>
</html>